.carrusel-container {
    width: 50%;
    margin: 3 auto;
    padding: 2rem 0;
}

.carousel .slide img {
    width: 80%;
    height: auto;
    cursor: pointer;
}

.carousel .control-arrow {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.carousel .control-prev.control-arrow:before {
    border-right: 15px solid rgb(0, 0, 0);
}

.carousel .control-next.control-arrow:before {
    border-left: 15px solid rgb(0, 0, 0);
}
