.carrusel-container {
    width: 50%;
    margin: 0 auto;
    padding: 2rem 0;
}

.carousel .slide img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.carousel .control-arrow {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.carousel .control-prev.control-arrow:before {
    border-right: 8px solid white;
}

.carousel .control-next.control-arrow:before {
    border-left: 8px solid white;
}
