.rute-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 20rem);
    margin-bottom: 100px;
}

.target-title {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.target-title h1{
    border-bottom: 5px solid black;
}

.target-routes {
    display: flex;
    justify-content: space-evenly;
}

.target-left {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    min-width: calc(100vh - 13rem);
    padding: 2rem 0 0 7rem;
}

.target-left a img {
    
    width: 100%;
    /* padding: 2rem 2rem; */
}

.target-right {
    width: 50vw;
    padding: 2rem 9rem 0 2rem;
}

/*.target-right h1{
    padding-bottom: 1rem;
}*/

.piejaja {
    margin-top: auto;
}

