.rute-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 13rem);
    margin-bottom: 100px;
}

.target-title {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.target-title h1{
    border-bottom: 5px solid black;
}

.target-routes {
    display: flex;
    justify-content: space-evenly;
}

.target-left {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    min-width: calc(100vh - 13rem);
    padding: 2rem 0rem;
}

.target-left img {
    
    width: 80%;
    /* padding: 2rem 2rem; */
}

.target-right {
    width: 50vw;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 15rem;
    padding-left: 2rem;
}

.target-right h1{
    padding-bottom: 1rem;
}

.piejaja {
    margin-top: auto;
}

