.descripcion {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 5px;
  }
  
  .icono {
    font-size: 1.5rem;
  }
  
  .texto {
    font-size: 1rem;
    flex: 1;
  }
  
  .botones {
    display: flex;
    flex-direction: column; 
    margin-top: 10px;
  }
  
  .botones button {
    margin-bottom: 10px; /* Espacio entre los botones */
    padding: 10px 20px; /* Tamaño más grande de los botones */
    border: none;
    border-radius: 4px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 1.2rem; /* Tamaño de fuente más grande para los botones */
  }
  
  .botones button:hover {
    background-color: aquamarine;
    transition: 0.6s;
  }
  