.segmento-dos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: white;
  background-color: #191919; /* Fondo uniforme para todo el segmento */
  padding: 10px; /* Espacio interior */
}

.item {
  flex: 1;
  margin: 0 10px;
  padding: 10px;
  border-radius: 4px;
  background-color: inherit; /* Hereda el fondo del contenedor principal */
}

.descripciones {
  margin-top: 10px;
}

.descripcion {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 5px;
}

.icono {
  font-size: 1.5rem; 
}

.texto {
  font-size: 1rem; 
}
