.tarjeta {
  flex: 1;
  margin: 0 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.tarjeta:hover {
  transform: translateY(-10px);
  cursor: pointer;
}
.tarjeta:active {
  transform: translateY(-2px); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.imagen {
  margin-bottom: 15px;
}

.imagen img {
  width: 80px;
  height: auto;
}

.tarjeta h3 {
  font-size: 1.2rem;
  color: #333;
  margin: 10px 0;
}

.tarjeta p {
  font-size: 0.9rem;
  color: #666;
}
