.foooter {
    min-height: 10rem;
}

.up-section {
    padding: 3rem 0rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #f3be21;
    color: #191919;
}

.up-section .left-section {
    /* background-color: red; */
    padding-left: 1rem;
}

.up-section .right-section {
    /* background-color: red; */
    display: flex;
    gap: 1rem;
    padding-top: 4rem;
    padding-right: 1rem;
}

.down-section {
    background-color: #191919;
    color: white;
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
}

.footer-icons{
    color: #191919;
}