#showPassword {
  /* Estilos para el botón */
  background-color: #f0f0f0;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.auth-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f8f9fa;
  }
  
  .auth-container {
    background-color: #ffdd57;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }

  .auth-container h2{
    margin-bottom: 16px;
  }

  .input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 14px;
  }

  .input-field-pw {
    width: 90%;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 14px;
  }

  .auth-button {
    width: 100%;
    padding: 10px;
    background-color: #ffaa44;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;
  }

  .auth-button:hover{
    color: white;
    background-color: #191919;
    transition: 0.4s;
  }
  
  .auth-button.black {
    background-color: #000;
  }
  
  .link-text {
    color: #0066cc;
    cursor: pointer;
    font-size: 14px;
  }
  
  .link-text:hover {
    text-decoration: underline;
  }

  .centrado {
    text-align: center;
  }

  .campo-dato {
    text-align: left;
    margin-bottom: 4px;
  }

  .login-register-text{
    text-align: center;
  }

  .piejaja {
    margin-top: auto;
  }

.modal {
  padding: 20px;
  max-width: 500px;
  margin: auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal h2 {
  margin-bottom: 15px; 
}

.modal p {
  margin-bottom: 20px; 
}

.modal-buttons {
  display: flex;
  justify-content: flex-end; 
  gap: 10px; 
}

.modal-button {
  background: #007bff;
  color: white;
  border: none;
  padding: 8px 15px; 
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px; 
}

.modal-button:hover {
  background: #0056b3;
}
  