#showPassword {
  /* Estilos para el botón */
  background-color: #f0f0f0;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.auth-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px; /* Cambiar esta vaina hace que el footer se vaya mas abajo o arriba*/
    background-color: #f8f9fa;
  }
  
  .auth-container {
    background-color: #ffdd57;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }

  .input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 14px;
  }

  .input-field-pw {
    width: 90%;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 14px;
  }

  .auth-button {
    width: 100%;
    padding: 10px;
    background-color: #ffaa44;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .auth-button.black {
    background-color: #000;
  }
  
  .link-text {
    color: #0066cc;
    cursor: pointer;
    font-size: 14px;
  }
  
  .link-text:hover {
    text-decoration: underline;
  }

  .centrado {
    text-align: center;
  }

  .campo-dato {
    text-align: left;
  }

  