.maincito {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 13rem);
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.search-container input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.search-button {
    padding: 10px 20px;
    border: none;
    background-color: #d9d9d9;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-left: -1px;
}

.search-icon {
    font-size: 18px;
}

.destinos h1 {
    margin-bottom: 10px;
    color: #333;
}

.destinos h2 {
    margin: 0 0 20px 0;
    /*color: #555;*/
}

.destinos-message{
    margin: 50px 0 20px 0;
}

.paquetes {
    /* background-color: red; */
    /* width: 80%; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 3rem 5rem;
}

@media (max-width: 768px) {
    .paquetes {
        flex-direction: column;
        align-items: center;
        margin: 0rem;
    }

    .paquete {
        width: 90%;
    }

    /* header {
        flex-direction: column;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        margin-bottom: 10px;
    } */
}

.f-resultados {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    color: #999;
}
