.navBar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D9D9D9;
    color: black;
    min-height: 3rem;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100vw;
}

.navBar h2 {
    margin-left: 10px;
}

.logo {
    width: 50%;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
}

.nav-options {
    width: 50%;
    display: flex;
    gap: 2rem;
    padding-right: 2rem;
    justify-content: right;
    align-items: center;
}

.para-hover:hover{
    cursor: pointer;
}