.navBar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3be21;
    color: black;
    min-height: 3rem;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100vw;
}

.navBar h2 {
    margin-left: 10px;
}

.logo {
    
    /* background-color: red; */
    align-items: center;
    padding-left: 1rem;
}

.nav-options {
    width: 50%;
    display: flex;
    gap: 2rem;
    padding-right: 2rem;
    justify-content: right;
    align-items: center;
}

.para-hover:hover{
    cursor: pointer;
}

.active {
    background-color: white; /* Color de fondo para la opción activa */
    border-radius: 8px;
    padding: 0.25rem 0.5rem;
  }
.cerrar-sesion {
    background-color: white;
}

.cerrar-sesion:hover{
    background-color: #191919;
    color: white;
    transition: 0.4s;
    cursor: pointer;
}