.navBar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    color: black;
    min-height: 3rem;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100vw;
    border-bottom: 2px solid black;
}

.navBar h2 {
    margin-left: 10px;
}

.logo {
    
    /* background-color: red; */
    align-items: center;
    padding-left: 1rem;
}

.nav-options {
    width: 50%;
    display: flex;
    gap: 2rem;
    padding-right: 2rem;
    justify-content: right;
    align-items: center;
}

.para-hover:hover{
    cursor: pointer;
}