/* src/Components/Contador.css */
.contador {
    display: flex;
    align-items: center;
  }
  
  .contador-button {
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    font-size: 1.2rem;
  }
  
  .contador-valor {
    margin: 0 10px;
    font-size: 1.2rem;
    min-width: 40px;
    text-align: center;
  }
  