.comprobante-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.comprobante-content {
  margin: auto;
  margin-top: 80px;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  background-color: #eadc74;
  text-align: left;
}

/* Estilo del título del comprobante */
.comprobante-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.comprobante-row {
  display: flex;
  margin-bottom: 10px;
}

.comprobante-label {
  width: 200px;
  font-weight: bold;
}

.comprobante-data {
  flex: 1;
  text-align: right; /* Alinea el texto a la derecha */
  padding-left: 20px; /* Añade espacio a la izquierda */
}

/* Estilo de los botones */
.comprobante-buttons {
  display: flex;
  justify-content: center; /* Centra los botones horizontalmente */
  gap: 10px; /* Espacio entre los botones */
  margin-top: 20px;
}

/* Aplica estilo basado en tus clases actuales */
.comprobante-button {
  padding: 0.75rem 3rem;
  background-color: white;
  color: #191919; /* Color del texto */
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.comprobante-button:hover {
  background-color: #191919;
  color: white;
  transition: 0.4s;
}

.comprobante-footer {
  margin-top: auto;
}
