body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2f2f2;
    margin-bottom: 30px !important;
}

.grid-container{
    padding: 20px 30px;
}

.box-buttons{
    background-color: #cccccc;
}

.op{
    padding: 0 40px 0 40px;
}

.prime-card{
    max-width: 62rem;
}

.prime-card h2{
    font-size: 1.5rem;
}

.info-button{
    text-align: center;
}

.pago-buttons-box{
    display: flex;
    flex-direction: column;
}

.pago-buttons{
    width: 50%;
    color: white;
    background-color: rgb(19, 19, 19);
}
.pago-buttons:hover{
    transition: 0.4s;
    background-color: aquamarine;
}
.icono-info{
    width: 25px;
}

.icono-more-info{
    width: 100px;
    display: initial;
}

.lista-iconos{
    margin-top: 10px;
    display: flex;
}
/* Contenedor de cuadrícula */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Divide en dos columnas iguales */
    gap: 16px; /* Espacio entre columnas */
    align-items: center; /* Alinea los elementos verticalmente */
}

/* Estilo para la descripción */
.descripcion {
    color: hsl(var(--muted-foreground));
    margin: 0;
}

/* Estilo para la imagen */
.imagen {
    width: 100%;
    height: 250px;
    object-fit: cover; /* Asegura que la imagen cubra el área de su celda sin deformarse */
}

.details-info{
    margin-top: 20px;
    background-color: #cccccc;
    padding: 20px;
}
